{% load static %}
<header>
  <img src="{% static 'img/logo.png' %}" />
</header>
<nav>
  <ul class="main-nav">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><a href="{% url 'menu' %}">Menu</a></li>
    <li><a href="{% url 'book' %}">Book</a></li>
    <li><a href="{% url 'reservations' %}">Reservations</a></li>

    {% if request.COOKIES.authToken %}
    <li class="push"><a href="#" onclick="add_authToken()">{{ request.COOKIES.firstName }} {{ request.COOKIES.lastName }}</a></li>
    <li>
      <!--<form id="logout-form" method="POST" action="{% url 'token_destroy' %}">
        {% csrf_token %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <input type="hidden" name="auth_token" value="{{ request.COOKIES.authToken }}">
        <button type="submit">Logout</button>
      </form>-->
      <button type="button" id="button">Logout</button>  
    </li>

    <!--<li><form id="logout_form" method="post" action="{% url 'token_destroy' %}"></form>
      <a onclick="document.getElementById('logout_form').submit();">Logout</a></li>


    <li><form action="{% url 'token_destroy' %}" method="post" id="form">
      {% csrf_token %}
      <input type="submit" id="button" value="Logout"></form></li>-->
    {% else %}
    <li class="push"><a href="{% url 'signupform' %}">Sign Up</a></li>
    <li><a href="{% url 'loginform' %}">Login</a></li>
    {% endif %}
  </ul>
</nav>

<script>
  function get_authToken() {
    const cookies = document.cookie;
    const cookieArray = cookies.split('; ');
    let authToken = '';
    for (let i = 0; i < cookieArray.length; i++) {
      const cookie = cookieArray[i].trim();
      if (cookie.startsWith('authToken=')) {
        authToken = cookie.substring('authToken='.length, cookie.length);
        break;
      }
    }
    return authToken;
  }

  function add_authToken() {
    const authToken = get_authToken();
    console.log(authToken);
    const profileURL = 'profile/';
    const request = new XMLHttpRequest();
    request.open('GET', profileURL);
    request.setRequestHeader('Authorization', `Token ${authToken}`);
    request.send();
    event.preventDefault();
  }



  document.getElementById('button').addEventListener('click', function (e) {

    // retrieve authToken from cookies
    authToken = get_authToken();

    // construct headers
    const headers = new Headers();
    headers.append('Authorization', `Token ${authToken}`);

    fetch("{% url 'token_destroy' %}", {
      method: 'POST',
      headers: headers
    })
    .then(response => {
      if (response.ok) {
        window.location.href = '/';
      } else {
        throw new Error('Logout failed');
      }
    })
    .catch(error => {
      console.error(error);
    })
  })
</script>