{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Little Lemon</title>
    <meta name="description" content="A brief description" />
    <meta
      name="author"
      content="Based in Chicago, Illinois, Little Lemon is a family owned Mediterranean restaurant, focused on traditional recipes served with a modern twist."
    />

    <!-- Load favicon -->
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/favicon.ico' %}"
    />

    <!-- Include your CSS files here -->
    <link
      rel="preload"
      as="style"
      href="{% static 'css/style.css' %}"
      onload="this.rel = 'stylesheet'"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&family=Markazi+Text:wght@500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
    {% include 'partials/_header.html' %}
    <main id="content">
      {% block content %} {% endblock %}
    </main>
    {% include 'partials/_footer.html' %} 
  </body>
</html>

<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    } else {
      cookieValue = null;
    }
    return cookieValue;
  }

  // Home button
  document.getElementById('navHomeButton').addEventListener('click', function() {
    fetch("{% url 'check_authorization' %}", {
      method: 'GET',
      headers: {
        'Authorization': `Token ${getCookie('authToken')}`,
        'X-CSRFToken': getCookie('csrftoken')
      }
    })
    .then(response => {
      window.location.href = "{% url 'home' %}";
    })
    .catch(error => {
      console.error(error);
    })
  });

  // About button
  document.getElementById('navAboutButton').addEventListener('click', function() {
    fetch("{% url 'check_authorization' %}", {
      method: 'GET',
      headers: {
        'Authorization': `Token ${getCookie('authToken')}`,
        'X-CSRFToken': getCookie('csrftoken')
      }
    })
    .then(response => {
      window.location.href = "{% url 'about' %}";
    })
    .catch(error => {
      console.error(error);
    })
  });

  // Menu button
  document.getElementById('navMenuButton').addEventListener('click', function() {
    fetch("{% url 'check_authorization' %}", {
      method: 'GET',
      headers: {
        'Authorization': `Token ${getCookie('authToken')}`,
        'X-CSRFToken': getCookie('csrftoken')
      }
    })
    .then(response => {
      if (response.ok) {
        window.location.href = "{% url 'menu' %}";
      } else {
        throw new Error("Authentication failed");
      }
    })
    .catch(error => {
      console.error(error);
      window.location.href = "{% url 'loginform' %}";
    })
  });

  // Book Button
  document.getElementById('navBookButton').addEventListener('click', function() {
    fetch("{% url 'check_authorization' %}", {
      method: 'GET',
      headers: {
        'Authorization': `Token ${getCookie('authToken')}`,
        'X-CSRFToken': getCookie('csrftoken')
      }
    })
    .then(response => {
      if (response.ok) {
        window.location.href = "{% url 'book' %}";
      } else {
        throw new Error("Authenticaton failed");
      }
    })
    .catch(error => {
      console.error(error);
      window.location.href = "{% url 'loginform' %}";
    })
  });

  // Reservations Button
  document.getElementById('navReservationButton').addEventListener('click', function() {
    fetch("{% url 'check_authorization' %}", {
      method: 'GET',
      headers: {
        'Authorization': `Token ${getCookie('authToken')}`,
        'X-CSRFToken': getCookie('csrftoken')
      }
    })
    .then(response => {
      if (response.ok) {
        window.location.href = "{% url 'reservations' %}";
      } else {
        throw new Error("Authenticaton failed");
      }
    })
    .catch(error => {
      console.error(error);
      window.location.href = "{% url 'loginform' %}";
    })
  });

  // Cart Button
  document.getElementById('navCartButton').addEventListener('click', function() {
    fetch("{% url 'check_authorization' %}", {
      method: 'GET',
      headers: {
        'Authorization': `Token ${getCookie('authToken')}`,
        'X-CSRFToken': getCookie('csrftoken')
      }
    })
    .then(response => {
      if (response.ok) {
        window.location.href = "{% url 'cart' %}";
      } else {
        throw new Error("Authenticaton failed");
      }
    })
    .catch(error => {
      console.error(error);
      window.location.href = "{% url 'loginform' %}";
    })
  });



  // Login Button
  var loginButton = document.getElementById('navLoginButton');
  if (loginButton) {
    loginButton.addEventListener('click', function() {
      fetch("{% url 'check_authorization' %}", {
        method: 'GET',
        headers: {
        'Authorization': `Token ${getCookie('authToken')}`,
        'X-CSRFToken': getCookie('csrftoken')
        }
      })
      .then(response => {
      window.location.href = "{% url 'loginform' %}";
      })
      .catch(error => {
        console.error(error);
      })
    });
  }

  var profileButton = document.getElementById('navProfileButton');
  if (profileButton) {
    profileButton.addEventListener('click', function() {
      const username = getCookie('username');

      fetch("{% url 'userprofile' %}", {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': `Token ${getCookie('authToken')}`,
          'X-CSRFToken': getCookie('csrftoken')
        }
      })
      .then(response => response.json())
      .then(profile => {
        fetch("{% url 'cart_profile' %}", {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Token ${getCookie('authToken')}`,
            'X-CSRFToken': getCookie('csrftoken')
          }
        })
        .then(response => response.json())
        .then(cartItems => {
          context = {profile, cartItems};
          console.log(username);
          console.log(context);
          fetch("{% url 'get_profile' %}", {
            method: 'POST',
            headers: {'Content-Type': 'text/html'},
            body: context
          })
          .then(response => response.text())
          .then(templateString => {
            const template = Handlebars.compile(templateString);
            document.querySelector('#content').innerHTML = template;
          })
          .catch(error => {
            console.error('Error loading template: ', error);
          })
        })
        .catch(error => {
          console.error('Error fetching cart data: ', error);
        })
      })
      .catch(error => {
        console.error('Error fetching profile data: ', error);
      })
    })
  }


  // Profile Button   TO DO
  var profileButton = document.getElementById('navProfileButtonTemp');
  if (profileButton) {
    profileButton.addEventListener('click', function() {
      const username = getCookie('username');
      
      fetch("{% url 'get_profile' %}", {
        method: 'GET',
        headers: {'Content-Type': 'text/html'}
      })
      .then(response => response.text())
      .then(templateString => {
        const template = Handlebars.compile(templateString);
      
        fetch("{% url 'userprofile' %}", {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Token ${getCookie('authToken')}`,
            'X-CSRFToken': getCookie('csrftoken')
          }
        })
        .then(response => response.json())
        .then(profile => {
          fetch("{% url 'cart_profile' %}", {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json',
              'Authorization': `Token ${getCookie('authToken')}`,
              'X-CSRFToken': getCookie('csrftoken')
            }
          })
          .then(response => response.json())
          .then(cartItems => {
            context = {profile, cartItems};
            console.log(context);
            console.log(template);
            const renderedTemplate = template(context);
            console.log(renderedTemplate);
            document.querySelector('#content').innerHTML = renderedTemplate;
          })
          .catch(error => {
            console.error('Error fetching carts: ', error);
          })
        })
        .catch(error => {
          console.error('Error fetching data: ', error);
        })
      })
      .catch(error => {
        console.error('Error loading template: ', error);
      })
    });
  }

  // Logout Button
  var logoutButton = document.getElementById('navLogoutButton');
  if (logoutButton) {
    logoutButton.addEventListener('click', function() {
      fetch("{% url 'token_destroy' %}", {
        method: 'POST',
        headers: {
          'Authorization': `Token ${getCookie('authToken')}`,
          'X-CSRFToken': getCookie('csrftoken')
        }
      })
      .then(response => {
        if (response.ok) {
          window.location.href = "{% url 'home' %}";
        } else {
          throw new Error('logout failed');
        }
      })
      .catch(error => {
        console.error(error);
      })
    });
  }
</script>