{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
  <article>
    <h1>Your Cart</h1>
    {% for item in cart_items %}
    <div class="row">
      <div class="column">{{ item.menuitem.title }}</div>
      <div class="column">{{ item.quantity }}</div>
      <div class="column">${{ item.price }}</div>
      <div class="column">
        <div id="category_img_container">
            <a href="{% url 'menuitem' pk=item.menuitem.id %}">
                <img src="/../static/img/menuitems/{{item.menuitem.title}}.jpg" alt="{{ item.menuitem.title }}" id="category_img">
            </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </article>
</section>
{% endblock %}
