{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <article>
        <h1>{{ category }}</h1>
        <span>
            <a href="{% url 'home' %}">Home</a> /
            <a href="{% url 'menu' %}">Menu</a>/
         </span>
         <div class="row">
            <div class="column">
                {% for item in menuitems %}
                <p>
                    <a href="{% url 'menuitem' pk=item.pk %}">
                        {{ item.title }}
                        </a>
                    <span class="menu-price">
                        ${{ item.price }}
                    </span>
                </p>
                {% endfor %}
            </div>
         </div>
    </article>
</section>

{% endblock %}