{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Login</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <form action="/auth/token/login/" method="post" id="form">
          {% csrf_token %}
          <p>
            <label for="username">Username:</label>
            <input type="text" placeholder="Username" maxlength="100" required="true" id="username" name="username">
          </p>
          <p>
            <label for="password">Password:</label>
            <input type="password" placeholder="Your Password" maxlength="255" required="true" id="password" name="password">
          </p>
          <input type="submit" id="button" value="Login">
        </form>
      </div>
    </div>
  </article>
</section>

<script>
</script>
{% endblock %}