{% load static %}
{% block content %}

<section>
    <article>
        <h1>Categories</h1>
        <span>
            <a href="{% url 'home' %}">Home</a> /
         </span>
         <div class="row">
            {% for category in categories %}
            <div class="column">
                <p>
                    <div id="category_img_container">
                        <h2 id="category_title">{{ category.title }}</h2>
                        <a href="{% url 'render_category' category=category.slug  %}">
                            <img src="/../static/img/categories/{{category.slug}}.jpg" alt="{{ category.title }}" id="category_img"/>
                        </a>
                    </div>
                </p>
            </div>
            {% endfor %}
         </div>
    </article>
</section>

{% endblock %}