{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<section>
   <article>
      <h1 id="item_name">{{ menuitem.title }}</h1>
      <span>
         <a href="{% url 'home' %}">Home</a> /
         <a href="{% url 'menu' %}">Menu</a>/
         <a href="{% url 'categories' category=menuitem.category.slug %}">{{ menuitem.category.title }}</a>
      </span>
      <!--Begin row-->
      <div class="row">
         <!--Begin col-->
         <div class="column">
            <h2>
                {{ menuitem.title }}
            </h2>
            <p>
                {{ menuitem.description }}
            </p>
            <p>
                Price: ${{ menuitem.price }}
            </p>
            <p>
               <form method="post" id="form">
               {% csrf_token %}
                  <input type="number" default="1" min="1" max="10" required="true" id="num_items" name="num_items">
                  <button type="button" id="button">Add to Cart</button>
               </form>
               
            </p>
         </div>
         <!--End col-->
         <!--Begin col-->
         <div class="column">
            <img src="/../static/img/menuitems/{{menuitem.title}}.jpg" alt="{{ menuitem.title}}" />
        </div>
         <!--End col-->
      </div>
      <!--End row-->
   </article>
</section>

<script>
   document.getElementById('button').addEventListener('click', function (e) {
      const cartdata = {
         menuitem: document.getElementById('item_name').value,
         num_items: document.getElementById('num_items').value,
      }
      const headers = {
         'Accept': 'application/json',
         'Content-Type':'application/json',
         'Authentication': 'Token 3178b36e3c6541932bda7b4b0ba99f12248f497e'
      }

      try {
         fetch("{% url 'cart' %}", {
            method: 'post',
            headers: headers,
            body: JSON.stringify(cartdata) })
            .then(response => {
               return response.json()})
            .then(data => alert(data))
         }
         catch (error) { alert('An error occurred!');
      }
      })
</script>

{% endblock %}