{% load static %} 
{% block content %}
<!DOCTYPE html>
<html>
  <section>
    <h1>{{ profile.first_name }} {{ profile.last_name }}</h1>
    <article>
      <div class="row">
        <div class="column">
          <h2>Username: {{ profile.username }}</h2>
          <p>User ID: {{ profile.id }}</p>
          <p>First Name: {{ profile.first_name }}</p>
          <p>Last Name: {{ profile.last_name }}</p>
          <p>Email Address: {{ profile.email }}</p>
        </div>
      </div>
    </article>
    <article>
      <h1>Your Cart</h1>
      {% for item in cartItems %}
      <div class="row">
        <div class="column">{{ item.menuitem.title }}</div>
        <div class="column">{{ item.quantity }}</div>
        <div class="column">${{ item.price }}</div>
        <div class="column">
          <div id="category_img_container">
            <a href="{% url 'menu' %}">
              <img src="/../static/img/menuitems/{{item.menuitem.title}}.jpg" alt="{{ item.menuitem.title }}" id="category_img">
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </article>
    <article>
      <h1>Your Reservations</h1>
      <div class="row">
        <div class="column">
          <pre id="bookings"></pre>
          {% for reservation in reservations %}
          <p>
            <h2>{{ reservation.booking_date }}</h2>
            <div class="booking_slot">{{ reservation.booking_slot }}</div>
            <div class="num_guests">{{ reservation.num_guests }} guests</div>
          </p>
          {% endfor %}
        </div>
      </div>
    </article>
  </section>
</html>

{% endblock %}